/* ==========================================================================
   My custom styles
   ========================================================================== */

body {
    height: 10000px;
    padding: 0;
    margin: 0;
}

#top-navbar {
    background: #0f0f0f;
    color: white;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 100%;
    z-index: 999 !important;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
    filter: none !important;
}

.awards-element {
    margin-top: 10px;
}

.image-text-view-section {
    margin-top: 30px;
}

.container-fluid {
    width: 85%;
}

.section-header {
    font-size: 60px;
    font-weight: bold;
    margin-top: 60px;
}

.section-description {
    font-size: 15px;
    margin-top: 15px;
}


.sub-section-header {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.sub-section-description {
    font-size: 15px;
}

.special-section-header {
    font-size: 25px;
    color: darkcyan;
    font-weight: bold;
}

@media screen and (max-device-width: 320px) {
    .section-header {
        font: 30px;
    }
    .section-description {
        font-size: 12px;
        margin-top: 10px;
    }


    .sub-section-header {
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
    }

    .sub-section-description {
        font-size: 12px;
    }

    .special-section-header {
        font-size: 20px;
        color: darkcyan;
    }
}